<!--begin about header-->
<div class="about_header" style="background-image: url('img/bg_about.jpg')">
    <div class="container">
        <div class="about_header__wrapper">
            <div class="about_header__title">
                <h1 class="title">We are FreshGeo</h1>
            </div>
            <div class="about_header__text p_text">
                <p>A team dedicated to building next gen Cloud VPN and Automatic Wi-Fi Security solutions.</p>
            </div>
        </div>
    </div>
</div>
<!--end about header-->
<!--begin about mission-->
<div class="about_mission">
    <div class="container">
        <div class="about_mission__img">
            <img src="img/img_mission.png" alt="Mission">
        </div>
        <div class="about_mission__wrapper">
            <div class="about_mission__title">
                <h2 class="s_title">Our mission</h2>
            </div>
            <div class="about_mission__text p_text">
                <p>At FreshGeo, our mission is to provide secure, private and uncensored Internet access to anyone, anywhere. To do so, we are pushing boundaries and developing the next generation of cutting-edge cybersecurity products and solutions.</p>
            </div>
        </div>
    </div>
</div>
<!--end about mission-->
<!--begin about experience-->
<div class="about_exp">
    <div class="container">
        <div class="about_exp__title">
            <h2 class="s_title">Coming From Experience</h2>
        </div>
        <div class="about_exp__text p_text">
            <p>In 2013, FreshGeo was an idea on a drawing board, today we’re a leading VPN service, trusted by over 1 million consumers and businesses worldwide. Building on decades of development and UX/UI experience, our knowledgeable team brings a variety of expertise to the development of a truly innovative SaaS cybersecurity company.</p>
        </div>
        <div class="about_exp__team about_exp_team">
            <!--begin exp item-->
            <div class="about_exp_team__item exp_item">
                <div class="exp_item__img">
                    <img src="img/img_exp_1.png" alt="">
                </div>
                <div class="exp_item__info exp_item_info">
                    <div class="exp_item_info__title">
                        <h3 class="title">Amit Bareket, Co-Founder and CEO</h3>
                    </div>
                    <div class="exp_item_info__text">
                        <p>Amit is a cyber expert and the author of 7 patents issued by the USPTO for storage, mobile applications and user interface. Prior to SaferVPN, Amit worked as a software engineer for major enterprises including IBM XIV Storage and BigBand Networks. He graduated Cum Laude with a B.Sc. in Computer Science and Economics from Tel Aviv University and served in the IDF's elite tech unit.</p>
                    </div>
                </div>
            </div>
            <!--end exp item-->
            <!--begin exp item-->
            <div class="about_exp_team__item exp_item">
                <div class="exp_item__img">
                    <img src="img/img_exp_2.png" alt="">
                </div>
                <div class="exp_item__info exp_item_info">
                    <div class="exp_item_info__title">
                        <h3 class="title">Sagi Gidali, Co-Founder and CPO</h3>
                    </div>
                    <div class="exp_item_info__text">
                        <p>Sagi is a UX/UI leader who believes in keeping things simple, both in life and in tech. Prior to co-founding SaferVPN, Sagi worked for Siemens as a UX consultant, designing web applications that were used by major clients in the automotive industry, including GM and Volvo. He has a B.Sc. in Computer Science and Economics from Tel Aviv University and served in the IDF's elite tech unit.</p>
                    </div>
                </div>
            </div>
            <!--end exp item-->
        </div>
    </div>
</div>
<!--end about experience-->
<!--begin about join-->
<div class="about_join">
    <div class="container">
        <div class="about_join__img">
            <img src="img/img_about_join.png" alt="Join">
        </div>
        <div class="about_join__wrapper">
            <div class="about_join__title">
                <h2 class="s_title">Giving Back</h2>
            </div>
            <div class="about_join__text p_text">
                <p>At FreshGeo, our mission is more than a statement. It’s a way of life. Together with the human rights crowdsourcing platform. Through this initiative we provided safe and private Internet access to activists and dissidents living in closed societies worldwide.</p>
                <p>Want to contribute or get involved? <a href="#/">Join us</a></p>
            </div>
        </div>
    </div>
</div>
<!--begin about join-->
<!--begin about question-->
<div class="about_question">
    <div class="container">
        <div class="about_question__title">
            <h2 class="s_title">Have Any More Questions?</h2>
        </div>
        <div class="about_question__text p_text">
            <p>Contact us any time.</p>
        </div>
        <div class="about_question__wrapper about_q_wrap">
            <!--begin about question item-->
            <div class="about_q_wrap__item about_q_item">
                <div class="about_q_item__icon">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </div>
                <div class="about_q_item__title">
                    <h3 class="title">Sales</h3>
                </div>
                <div class="about_q_item__text">
                    <p>Seeking next gen VPN software solutions for your business and/or clients? We’d love to work with you.</p>
                </div>
                <div class="about_q_item__btn">
                    <a class="btn_blue_gradient" href="#/">Contact us</a>
                </div>
            </div>
            <!--end about question item-->
            <!--begin about question item-->
            <div class="about_q_wrap__item about_q_item">
                <div class="about_q_item__icon">
                    <i class="fa fa-life-ring" aria-hidden="true"></i>
                </div>
                <div class="about_q_item__title">
                    <h3 class="title">Support</h3>
                </div>
                <div class="about_q_item__text">
                    <p>Our support team would be happy to help you with any technical questions and/or product suggestions.</p>
                </div>
                <div class="about_q_item__btn">
                    <a class="btn_darkgreen_gradient" href="#/">Contact us</a>
                </div>
            </div>
            <!--end about question item-->
            <!--begin about question item-->
            <div class="about_q_wrap__item about_q_item">
                <div class="about_q_item__icon">
                    <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                </div>
                <div class="about_q_item__title">
                    <h3 class="title">Press/Media</h3>
                </div>
                <div class="about_q_item__text">
                    <p>Read about us in the news, access our press kit or get in touch with us for your next story.</p>
                </div>
                <div class="about_q_item__btn">
                    <a class="btn_lightgreen_gradient" href="#/">Read more</a>
                </div>
            </div>
            <!--end about question item-->
        </div>
    </div>
</div>
<!--end about question-->