<!--begin about-->
<div class="about">
    <div class="container">
        <div class="about__title">
            <h2 class="s_title">
                <img src="img/icon_about_pseudo.svg" alt="">
                What is Our Product?
            </h2>
        </div>
        <div class="about__text p_text">
            <p>Protect cloud environments, staging servers and company databases with total ease.</p>
        </div>
        <div class="about__wrapper about_wrap">
            <!--begin about item-->
            <div class="about_wrap__item about_item">
                <div class="about_item__icon">
                    <img src="img/icon_about_1.svg" alt="About icon">
                </div>
                <div class="about_item__title">
                    <h3 class="title">Guaranteed Privacy</h3>
                </div>
                <div class="about_item__text">
                    <p>Research the competition and conduct confidential online business anonymously. All outbound and inbound traffic is encrypted and routed through your dedicated private server — concealing your company’s actual IP address with an IP mask.</p>
                </div>
                <div class="about_item__link">
                    <a href="">Learn more</a>
                </div>
            </div>
            <!--end about item-->
            <!--begin about item-->
            <div class="about_wrap__item about_item">
                <div class="about_item__icon">
                    <img src="img/icon_about_2.svg" alt="About icon">
                </div>
                <div class="about_item__title">
                    <h3 class="title">Manage Permissions</h3>
                </div>
                <div class="about_item__text">
                    <p>Add team members to your network, create multiple user groups and quickly manage team permissions. With our cloud management portal, you can easily control access to different cloud environments, SaaS services, sandbox and more.</p>
                </div>
                <div class="about_item__link">
                    <a href="">Learn more</a>
                </div>
            </div>
            <!--end about item-->
            <!--begin about item-->
            <div class="about_wrap__item about_item">
                <div class="about_item__icon">
                    <img src="img/icon_about_3.svg" alt="About icon">
                </div>
                <div class="about_item__title">
                    <h3 class="title">Monitor Network Activity</h3>
                </div>
                <div class="about_item__text">
                    <p>Enjoy complete, granular and unparalleled network visibility. We provide you with detailed activity reports so you can get the full picture as to which resources are being accessed, what applications are being used, and how much bandwidth is being consumed.</p>
                </div>
                <div class="about_item__link">
                    <a href="">Learn more</a>
                </div>
            </div>
            <!--end about item-->
        </div>
    </div>
</div>
<!--end about-->
<!--begin products-->
<div class="products">
    <div class="container">
        <div class="products__title">
            <h2 class="s_title">
                <img src="img/icon_products_pseudo.svg" alt="">
                Our Products
            </h2>
        </div>
        <div class="products__text p_text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
        </div>
        <div class="products__wrapper products_wrap">
             <!--begin products item-->
            <div class="products_wrap__item products_item">
                <div class="products_item__logo">
                    <img src="img/logo_fresh.svg" alt="FreshGeo">
                </div>
                <div class="products_item__text">
                    <p>Decentralized P2P VPN Network on blockchain powered by own crypto-economy</p>
                </div>
                <div class="products_item__link">
                    <a class="btn_blue_gradient" href="#/">Learn more</a>
                </div>
            </div>
             <!--end products item-->
            <!--begin products item-->
            <div class="products_wrap__item products_item">
                <div class="products_item__logo">
                    <img src="img/logo_limevpn.svg" alt="LimeVpn">
                </div>
                <div class="products_item__text">
                    <p>LimeVPN didn’t invent VPN, we merely optimized LimeVPN for today’s broadband connections.</p>
                </div>
                <div class="products_item__link">
                    <a class="btn_darkgreen_gradient" href="#/">Learn more</a>
                </div>
            </div>
            <!--end products item-->
            <!--begin products item-->
            <div class="products_wrap__item products_item">
                <div class="products_item__logo">
                    <img src="img/logo_proxies.svg" alt="Proxies">
                </div>
                <div class="products_item__text">
                    <p>Our private proxy services are ideal for a number of solutions, including ticketing proxies, gaming proxies, custom solutions.</p>
                </div>
                <div class="products_item__link">
                    <a class="btn_lightgreen_gradient" href="#/">Learn more</a>
                </div>
            </div>
            <!--end products item-->
        </div>
    </div>
</div>
<!--end products-->
<!--begin contacts-->
<div class="contacts">
    <div class="container">
        <div class="contacts__title">
            <h2 class="s_title">
                <img src="img/icon_contacts_pseudo.svg" alt="">
                Get in Touch
            </h2>
        </div>
        <div class="contacts__text p_text">
            <p>Our team is happy to answer your questions. Fill out the form and we’ll be in touch as soon as possible.</p>
        </div>
        <div class="contacts__wrapper contacts_wrap">
            <!--begin contacts item-->
            <div class="contacts_wrap__item contacts_form">
                <div class="contacts_form__title">
                    <h3 class="title">Contact Form</h3>
                </div>
                <div class="contacts_form__fields contacts_fields">
                    <form action="">
                        <input type="name" placeholder="Your full name">
                        <input type="email" placeholder="Your e-mail">
                        <textarea name="message" placeholder="Your message"></textarea>
                        <input class="btn_blue" type="submit" value="Submit">
                    </form>
                </div>
            </div>
            <!--end contacts item-->
            <!--begin contacts item-->
            <div class="contacts_wrap__item contacts_logo">
                <div class="contacts_logo__title">
                    <h3 class="title">Trusted By</h3>
                </div>
                <div class="contacts_logo__list logo_list">
                    <div class="logo_list__item"><img src="img/logo_samsung.svg" alt="Samsung"></div>
                    <div class="logo_list__item"><img src="img/logo_ethereum.svg" alt="Ethereum"></div>
                    <div class="logo_list__item"><img src="img/logo_usecryptos.svg" alt="Usecryptos"></div>
                    <div class="logo_list__item"><img src="img/logo_raiblocks.svg" alt="Raiblocks"></div>
                    <div class="logo_list__item"><img src="img/logo_cointed.svg" alt="Cointed"></div>
                    <div class="logo_list__item"><img src="img/logo_monero.svg" alt="Monero"></div>
                </div>
            </div>
            <!--end contacts item-->
        </div>
    </div>
</div>
<!--end contacts-->
</div>