<!--begin footer-->
<div class="footer">
    <div class="container">
        <div class="footer__wrapper footer_wrap">
            <!--begin footer item-->
            <div class="footer_wrap__item footer_item">
                <div class="footer_item__logo logo">
                    <a href="#/">FreshGeo</a>
                </div>
                <div class="footer_item__copyright">
                    <p>Copyright © 2018 ProductLogo.</p>
                    <p>All rights reserved.</p>
                </div>
            </div>
            <!--end footer item-->
            <!--begin footer item-->
            <div class="footer_wrap__item footer_item footer_nav">
                <div class="footer_nav__item">
                    <ul>
                        <li>Company</li>
                        <li><a href="#/">About</a></li>
                        <li><a href="#/">Team</a></li>
                        <li><a href="#/">Clients</a></li>
                    </ul>
                </div>
                <div class="footer_nav__item">
                    <ul>
                        <li>Products</li>
                        <li><a href="#/">FreshGeo</a></li>
                        <li><a href="#/">LimeVPN</a></li>
                        <li><a href="#/">LimeProxies</a></li>
                    </ul>
                </div>
                <div class="footer_nav__item">
                    <ul>
                        <li>CONNECT WITH US</li>
                        <li><a href="#/">Contacts</a></li>
                    </ul>
                    <div class="socials">
                        <ul>
                            <li><a href="#/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="#/"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--end footer item-->
        </div>
    </div>
</div>
<!--end footer-->